@font-face {font-family: "Alternate Gothic No2 D"; src: url("https://assets.codepen.io/35984/Alternate+Gothic+No2+D.woff2") format("woff2")}

body {
 background-color: #0F0F0F;
 overflow: hidden;
 text-align:center;
  display: flex;
  align-items: center;
  justify-content: center; 
	font-family: 'Alternate Gothic No2 D';
}
:root {
	--ui-grey: #222831;
	--ui-green: #C5E898;
	--ui-amber: #C5E898;
	--ui-red: #C5E898;
	--ui-shadow: #393E46;
	--ui-shadow-glow: #C5E898;
	--ui-blue: #C5E898;
}
body,
html {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}

svg {
 width: 800px;
 height: 100%;
 visibility: hidden;
 
}

#robotHandHorns {
	opacity: 0;
}

#offRing {
	cursor: pointer;
}

text {
	user-select: none;	
}
#aiText {
	font-size: 80px;
	fill: var(--ui-blue);
	text-anchor: middle;
}

.label {
	font-size: 34px;
	text-anchor: middle;
}